<h2>Welcome to Library Online</h2>
<div>Booking ID</div>
<div>@booking.id</div>
<div>Name</div>
<div>@booking.name</div>

- if @booking.is_business?
<div>Company ID</div>
<div>@booking.company_id</div>